#cloud-config

coreos:
  units:
    - name: slack-workout.service
      command: start
      content: |
        [Unit]
        Description=Slack Workout Service
        After=docker.service
        Requires=docker.service

        [Service]
        TimeoutStartSec=0
        ExecStartPre=-/usr/bin/docker kill workout
        ExecStartPre=-/usr/bin/docker rm workout
        ExecStartPre=/usr/bin/docker pull y0ssar1an/slack-workout
        ExecStart=/usr/bin/docker run --name workout -p 8001:8001 -e SLACK_API_TOKEN=<slack api token here> y0ssar1an/slack-workout
        ExecStop=/usr/bin/docker stop workout
        Restart=always

        [Install]
        WantedBy=multi-user.target
